main {
    max-width: 640px;
    margin: 0 auto 32px;
    padding: 20px;
}

header {
    margin-top: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #334155;
}

header h1 {
    margin-top: 24px;
    font-size: 2rem;
    color: #f1f5f9;
}

#quiz {
    counter-reset: quiz-item;
}

.quiz-item {
    margin-top: 24px;
    border: 1px solid #475569;
    border-radius: 6px;

    overflow: hidden;
}

.quiz-item h3 {
    padding: 16px 20px;
    color: #e2e8f0;

    display: flex;
    align-items: center;
    gap: 12px;

    background-color: #1e293b;
}

.quiz-item h3:before {
    counter-increment: quiz-item;
    content: counter(quiz-item);

    background-color: #475569;
    width: 28px;
    height: 28px;
    font-size: 12px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.quiz-item dl {
    padding: 20px 24px;  
    display: grid; /* com a propriedade grid fica possível utilizar o gap para colocar espaços entre os elementos sem precisar colocar uma propriedade específica nos elementos filhos */  
    gap: 8px;
}

.quiz-item dl dt {
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0;

    /* essas propriedades serão aplicadas ao input, já que ele é filho do dt, e são necessárias pois eu resetei o elemento.*/
    display: flex;
    align-items: center;
    gap: 8px;

    color: #e2e8f0;
}

input {
    all: unset; /* serve para resetar todas as caracteríticas de um elemento */
    border: 1px solid #94a3b8;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* criei um novo marcador para o input com as modificações feitas acima */

    /* essas propriedades abaixo estão sendo usadas para alinhar o marcado do input no centro do input */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

input:checked {
    border: 1px solid #a3e635;
}

/* os comandos abaixo servem para criar a bolinha de marcador no input (não entendi direito a propriedade before nesse caso) */
input:checked:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #A3E635;
    border-radius: 50%;
}

#acertos {
    text-align: center;
    background-color: #A3E635;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    padding: 12px;
}